body {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: black;
	width: 900px;
	border-right: 1px solid black;
}
#header {
	background-color: #666;
	border-bottom: 1px solid #333;
}
#sidebarLeft {
	float: left;
	width: 160px;
	margin-left: 10px;
	padding-top: 1em;}
#sidebarRight {
	float: Right;
	width: 160px;
	margin-left: 10px;
	padding-top: 1em;}
#mainRight {
	padding-top: 1em;
	margin: 0 2em 0 200px;}
#footer {
	clear: both;
	background-color: #ccc;
	padding-bottom: 1em;
	border-top: 1px  solid #333;
	padding-left: 200px;}
h2.sidebar h2.sidebarRight {
	font-size: 120%;}
.post_footer {
	font-family: Verdana, Arial, sans-serif;
	font-size:70%;}
hr {
	border: 0;
	color: gray;
	background-color: gray;
	height: 1px;}
